# ---------------------------------------------------------
# 📦 Node & Dependency
# ---------------------------------------------------------
/node_modules
/.pnp
.pnp.js

# ---------------------------------------------------------
# 🏗 React Build 결과물 제외 (GitHub에 올리지 말아야 함)
# ---------------------------------------------------------
/build

# ---------------------------------------------------------
# 🧪 테스트 관련
# ---------------------------------------------------------
/coverage

# ---------------------------------------------------------
# 🔐 환경 변수 파일 (절대 GitHub에 올라가면 안 됨)
# ---------------------------------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ---------------------------------------------------------
# 💻 시스템 파일
# ---------------------------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------------------------
# 📝 로그 파일
# ---------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------------------------------------
# 🛠 IDE 설정
# ---------------------------------------------------------
.idea/
.vscode/
