.board-page-container {
  width: 100%;
  padding: 2% 10%;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.board-info {
  text-align: center;
  margin-bottom: 40px;
}

.board-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.board-description {
  font-size: 13px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
}
.new-post-btn {
  background: #5f52ff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 5px;
}

.post-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.post-card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}
.post-card:hover {
  background: #f7f7ff;
}
.post-title {
  font-size: 20px !important;
  font-weight: 500 !important;
  padding-left: 10px;
  margin-top: 0;
}
.post-content {
  font-size: 14px !important;
  color: #666;
  padding: 10px 0 15px 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 25px 0;
  font-size: 18px;
}

.thumbnail {
  width: 220px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  position: absolute;
  right: 18px;
  top: 45%;
  transform: translateY(-50%);
}

.file-alt {
  font-size: 14px;
}
.file-preview {
  font-size: 12px;
  color: #a294f9;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}
.post-writer {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 8px; /* 이미지와 이름 간 간격 */
}

.writer {
  font-size: 14px;
  color: #666;
  line-height: 1; /* 텍스트 높이 조정 */
}

.create-btn-mobile {
  display: none;
}

.post-card .post-title {
  margin-top: 0;
}

@media (max-width: 939px) {
  /* .back-btn {
    display: none;
  } */

  .board-page-container {
    padding: 3px !important;
  }

  .create-btn-mobile {
    display: block;
  }
  .new-post-btn {
    display: none;
  }

  .board-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px;
    letter-spacing: 1px;
  }
  .board-info {
    text-align: center;
    margin-bottom: 20px;
  }
  .post-card {
    height: auto;
    min-height: 7cqi;
    position: relative;
  }
  .post-title {
    font-size: 16px !important;
    font-weight: 500 !important;
    padding-left: 0;
  }
  .post-content {
    display: none;
  }
  .post-writer {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 8px; /* 이미지와 이름 간 간격 */
    margin-top: 10px;
    padding-bottom: 1px;
  }
  .file-preview {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .writer {
    font-size: 10px;
    color: #666;
    line-height: 1; /* 텍스트 높이 조정 */
  }
  .thumbnail {
    width: 30%;
    height: 80%;
    object-fit: cover;
    top: 40%;
  }
}
