.board-page-container {
  width: 100%;
  padding: 2% 10%;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.back-btn {
  border: none;
  background: none;
  color: #999;
  cursor: pointer;
}
.back-btn span {
  font-size: 30px;
}
.back-btn:hover {
  background-color: inherit;
  color: #333;
}
.new-post-btn {
  background: #5566ff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.post-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.post-card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 10px;
  cursor: pointer;
}
.post-card:hover {
  background: #f7f7ff;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 25px 0;
  font-size: 18px;
}

.thumbnail {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
}
