.board-page-container {
  width: 100%;
  padding: 2% 10%;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-info {
  text-align: center;
  margin-bottom: 40px;
}

.board-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.board-description {
  font-size: 13px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
}

.back-btn {
  border: none;
  background: none;
  color: #999;
  cursor: pointer;
}
.back-btn span {
  font-size: 30px;
}
.back-btn:hover {
  background-color: inherit;
  color: #333;
}
.new-post-btn {
  background: #5f52ff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.post-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.post-card {
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}
.post-card:hover {
  background: #f7f7ff;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 25px 0;
  font-size: 18px;
}

.thumbnail {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  position: absolute;
  right: 18px;
  top: 45%;
  transform: translateY(-50%);
}
.writer {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
.file-alt {
  font-size: 14px;
}
.file-preview {
  font-size: 12px;
  color: #a294f9;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin: 20px 0 30px;
  margin-bottom: 0;
}
