.create-post-container {
  width: 100%;
  max-width: 1400px; /* 필요하면 제한 */
  margin: 0 auto;
  padding: 2% 20%;
}

.back-btn {
  background: none;
  color: #999;
  border: none;
  cursor: pointer;
}
.back-btn span {
  font-size: 30px;
}
.back-btn:hover {
  background-color: inherit;
  color: #333;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
  margin: 50px 0 20px;
  color: #322f2fff;
}

.title-input {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}

.content-input {
  width: 100%;
  height: 300px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.file-upload-section {
  margin: 18px 0;
}

.file-label {
  display: inline-block;
  background: #eef1ff;
  color: #4355ff;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.preview-box img {
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: #5f52ff;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.submit-btn:hover {
  background: #4538d3;
}

.upload-btn:disabled {
  display: none;
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.5;
}
.upload-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*EditPostPage 전용 코드*/
.origin-file-box {
  margin-top: 6px;
  font-size: 15px;
  color: #444;
}
@media (max-width: 939px) {
  .create-post-container {
    padding: 2% 5%;
  }
  .page-title {
    font-size: 18px;
  }
  .preview-box img {
    width: 50%;
  }
  .file-label {
    width: 120px;
    font-size: 15px;
  }
  .link-invite-info {
    width: 90%;
    margin: 0 auto;
  }
  .title-input {
    padding: 14px;
    font-size: 16px;
    height: 40px;
  }

  .content-input {
    height: 200px;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
  }
}
