.calendar-container {
  flex: 1;
  min-height: 0; /* 부모 flex 높이 강제 방지 */
  overflow: visible;
}

.calendar-box {
  width: 40%;
  min-width: 350px;
  height: 430px; /* 달력 크기 줄이기 위함*/
  overflow: hidden;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.schedule-box {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.schedule-box h3 {
  margin-bottom: 10px;
}

/* 일정 항목 */
.schedule-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: 0.2s;
}

.schedule-item:hover {
  background: #f8f8ff;
  border-radius: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #6c63ff;
  border-radius: 50%;
}

.title {
  font-weight: 600;
}

.date {
  font-size: 13px;
  color: gray;
}

.empty {
  margin-top: 8px;
  color: #777;
}

/* FullCalendar toolbar fix */
.fc-toolbar-title {
  font-size: 22px;
  font-weight: 700;
}

.fc .fc-button {
  background: #6c63ff;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
}

.fc .fc-button:hover {
  background: #5148ff;
}
.fc-daygrid-dot-event {
  width: auto !important;
}

.fc-daygrid-more-link {
  font-size: 11px;
  color: #6c63ff;
  font-weight: 600;
  cursor: pointer;
}
.fc-daygrid-day-frame {
  min-height: 120px !important; /* 원하는 값으로 조절 */
  height: auto !important;
  overflow: visible !important;
}
.fc-daygrid-day-events {
  overflow: visible !important;
}
.fc-daygrid-day {
  height: auto !important;
}
@media screen and (max-width: 939px) {
  .home-container {
    flex-direction: column;
    height: auto; /* <--- 이거 */
    gap: 14px;
    padding: 14px;
  }

  .schedule-box {
    height: auto !important; /* 하얀박스 높이 자동 */
    min-height: 200px; /* 최소 높이 보장 */
    overflow-y: visible; /* 스크롤 제거 */
  }
}
