.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cal-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  height: 470px;
  background-color: #f5efff;
  border-radius: 30px;
}
@font-face {
  font-family: "Soonbatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}
.typing-box {
  overflow: hidden;
  width: 100%;
  min-height: 300px;
  max-height: calc(100vh - 500px);
  margin: 0 auto;
  padding: 0 4%;
  border-radius: 14px;
  background: #ffffff;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #222;
  text-align: left; /* 가운데 정렬 */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  line-height: 60px;
  font-family: "Soonbatang" !important;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* font-style: italic; */
}
.typing-text1 {
  font-size: 41px;
  line-height: 55px;
}
/* 공통 */
.typing-text1,
.typing-text2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}
.typing-text1 {
  animation: fadeReveal 2.2s linear forwards;
}

.typing-text2 {
  animation: fadeReveal 3s linear forwards;
  animation-delay: 1s;
}

@keyframes fadeReveal {
  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@media screen and (max-width: 939px) {
  .typing-box {
    display: none;
  }
}
