.calendar-container {
  flex: 1;
  min-height: 0; /* 부모 flex 높이 강제 방지 */
  overflow: visible;
}

.calendar-box {
  width: 40%;
  min-width: 350px;
  height: 430px; /* 달력 크기 줄이기 위함*/
  overflow: hidden;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  color: #322f2fff;
}

.schedule-box {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.schedule-box h3 {
  margin-bottom: 10px;
  color: #322f2fff;
}

/* 일정 항목 */
.schedule-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: 0.2s;
}

.schedule-item:hover {
  background: #f8f8ff;
  border-radius: 6px;
}

.title {
  font-weight: 600;
}

.date {
  font-size: 13px;
  color: gray;
}

.empty {
  margin-top: 8px;
  color: #777;
}

/* FullCalendar toolbar fix */
.fc-toolbar-title {
  font-size: 22px;
  font-weight: 700;
}

.fc .fc-button {
  background: #6c63ff;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
}

.fc .fc-button:hover {
  background: #5148ff;
}
.fc-daygrid-dot-event {
  width: auto !important;
}
.fc-scroller {
  scrollbar-width: thin !important; /* Firefox */
  scrollbar-color: #b0b5ff #f1f1f1 !important;
}

.fc-daygrid-more-link {
  font-size: 11px;
  color: #6c63ff;
  font-weight: 600;
  cursor: pointer;
}
.fc-daygrid-day-events {
  overflow: hidden !important;
}
.fc-daygrid-day {
  height: auto !important;
}
.fc-daygrid-event-dot {
  border-color: #5f52ff !important;
  background-color: #5f52ff !important;
  margin-right: 6px !important;
  border-radius: 50% !important;
  display: inline-block !important;
}
.fc-daygrid-event .fc-event-title {
  color: #111 !important;
  font-weight: 500;
  font-size: 14px;
}
.fc-daygrid-event .fc-event-time {
  color: #111 !important;
  font-weight: 400;
}
.fc-daygrid-event {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 2px 0 !important;
  display: flex !important;
  align-items: center !important;
}
@media screen and (max-width: 939px) {
  .home-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    overflow: hidden;
    box-sizing: border-box;
  }

  .schedule-box {
    height: auto !important;
    /* 하얀박스 높이 자동 */
    min-height: 200px !important;
    max-height: 300px !important;
    overflow-y: auto !important;
  }
}
