.logo {
  display: flex;
  position: absolute;
  left: 10px;
  top: 10px;
}
@media (max-width: 960px) {
  .logo {
    left: 8px;
    top: 10px;
    width: 140px;
  }
}

@media (max-width: 480px) {
  .logo {
    left: 1px;
    top: 10px;
    width: 140px;
  }
}
