.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.modal-box {
  background: #fff;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.modal-box h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 6px;
  margin-bottom: 15px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.create-btn {
  background: #5f52ff;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
}

.cancel-btn {
  background: #ddd;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
}
