/* 팀 메인페이지 공지사항 리스트 css*/
.notice-list-item {
  padding: 14px 10px;
  border-bottom: 1px solid #f1f1f1;
  transition: background-color 0.2s ease;
}
.notice-list-item:hover {
  background-color: #f8f8ff;
  border-radius: 8px;
}
.notice-list-item .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}
.notice-list-item .date {
  font-size: 12px;
  color: #999;
}
.title {
  margin: 0;
  padding: 0;
}

.title.newest {
  color: orangered;
}
.notice-title-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.latest-badge {
  font-size: 11px;
  font-weight: 600;
  background-color: #ff4d4d;
  color: white;
  padding: 1px 6px;
  border-radius: 12px;
  /* line-height: 1; */
}
