.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 22px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.desc {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  margin-top: 4px;
}
