.calendar-container {
  flex: 1;
  padding-top: 40px;
  overflow: visible;
}

.calendar-container .fc {
  margin-top: 20px !important;
}

.fc-toolbar {
  margin-bottom: 30px !important;
}
.fc-scroller {
  overflow: hidden !important;
}
