.team-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f5efff;
  border-radius: 30px;
}
.team-top-container {
  display: grid;
  grid-template-columns: 1.4fr 2.2fr;
  gap: 20px;
}
.calendar-box {
  width: 545px; /* 캘린더 줄어드는 것 방지 */
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.schedule-box {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  max-height: 430px;
}
.schedule-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 4px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.schedule-item:hover {
  background: #f8f8ff;
  border-radius: 6px;
}

.dot {
  width: 9px;
  height: 9px;
  background: #ff4f4f; /* 빨간색 포인트 */
  border-radius: 50%;
}

.title {
  font-weight: 600;
}

.date {
  font-size: 13px;
  color: gray;
}

.empty {
  color: #777;
}

/* 게시글 & 댓글 2칸 레이아웃 */
.team-lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
